<h1>Admin Console</h1>

<div *ngFor="let vm of vms">
  <div class="well">
    <ul class="list-group">
      <li class="list-group-item">ID: {{vm.id}}</li>
      <li class="list-group-item">Name: {{vm.vmName}}</li>
      <li class="list-group-item">IP Address: {{vm.ipAddress}}</li>
      <div *ngFor="let node of vm.Nodes">
        <div class="well">
          <ul class="list-group">
            <li class="list-group-item">ID: {{node.id}}</li>
            <li class="list-group-item">Restaurant Name: {{node.Restaurant.restaruantName}}</li>
            <li class="list-group-item">Port: {{node.port}}</li>
            <li class="list-group-item">Pid: {{node.pid}}</li>
            <li class="list-group-item">Current Commit: {{node.Version.commitHash}}</li>
            <li class="list-group-item">Commit Message: {{node.Version.commitMessage}}</li>
          </ul>
        </div>
      </div>
    </ul>
  </div>
</div>
